/* >>>>>>>>>>>>>>>>>>>>>>> ANIMACIONES <<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* Funcion de Cambio de color de textos */
@keyframes fund_changes_text {
  0% {
    color: #051937;
  }

  25% {
    color: #a8eb12;
  }
  45% {
    color: #25cfa5;
  }
  75% {
    color: #5ffbf1;
  }
  85% {
    color: rgb(228, 128, 15);
  }
  100% {
    color: rgb(241, 83, 20);
  }
}
/* Animacion de Title "CRUD Vanilla JS" */

.publicidad:hover {
  animation-name: fund_changes_text;
  animation-duration: 2s;
  animation-delay: 0s;
}

/* Funcion de Cambio de Fondo - Colores */
@keyframes fund_changes_background {
  0% {
    background-color: rgb(31, 119, 153);
  }
  25% {
    background-color: rgb(189, 98, 98);
  }
  75% {
    background-color: rgb(51, 34, 22);
  }
  100% {
    background-color: rgb(189, 42, 111);
  }
}

/* Animacion de Boton "GUARDAR USUARIOS" */
.submitBtn:hover {
  animation-name: fund_changes_background;
  animation-duration: 2s;
  animation-delay: 0s;
  position: relative;
}
/* Animacion de Boton "EDITAR" */
.update:hover {
  animation-name: fund_changes_background;
  animation-duration: 2s;
  animation-delay: 0s;
  position: relative;
}
/* Animacion de Boton "ELIMINAR" */
.delete:hover {
  animation-name: fund_changes_background;
  animation-duration: 2s;
  animation-delay: 0s;
  position: relative;
}

/* Funcion de Cambio de Fondo - Colores Tituto */

@keyframes fund_changes_text {
  0% {
    color: rgb(205, 213, 216);
  }
  10% {
    color: rgb(117, 172, 194);
  }
  20% {
    color: rgb(49, 146, 184);
  }
  30% {
    color: rgb(26, 140, 185);
  }
  40% {
    color: rgb(48, 197, 165);
  }
  50% {
    color: rgb(49, 184, 78);
  }
  60% {
    color: rgb(24, 224, 67);
  }
  70% {
    color: rgb(154, 224, 24);
  }
  80% {
    color: rgb(211, 224, 24);
  }
  90% {
    color: rgb(104, 238, 27);
  }
  100% {
    color: rgb(42, 189, 157);
  }
}

@keyframes fund_chaEnges_background-button-UPDATE {
  0% {
    background-color: white;
    color: green;
    border: solid green 2px;
  }
  25% {
    background-color: white;
    color: green;
    border: solid green 2px;
  }
  75% {
    background-color: white;
    color: green;
    border: solid green 2px;
  }
  100% {
    background-color: white;
    color: green;
    border: solid green 2px;
  }
}

.update:hover {
  animation-name: fund_chaEnges_background-button-UPDATE;
}

@keyframes fund_chaEnges_background-button-DELET {
  0% {
    background-color: white;
    color: red;
    border: solid red 2px;
  }
  25% {
    background-color: white;
    color: red;
    border: solid red 2px;
  }
  75% {
    background-color: white;
    color: red;
    border: solid red 2px;
  }
  100% {
    background-color: white;
    color: red;
    border: solid red 2px;
  }
}

.delete:hover {
  animation-name: fund_chaEnges_background-button-DELET;
}
